/routing table
add comment="Proton VPN Route Table" disabled=no fib name=pvpn

/routing rule
add action=lookup comment="Proton VPN Network" disabled=no src-address=192.168.100.0/24 table=pvpn

/interface wireguard
add listen-port=13231 mtu=1420 name=wireguard-nl private-key="*"

/ip address
add address=10.2.0.2/30 interface=wireguard-nl network=10.2.0.0

/interface wireguard peers 
add allowed-address=0.0.0.0/0 endpoint-address=185.107.56.133 endpoint-port=51820 interface=wireguard-nl persistent-keepalive=25s public-key="*"

/ip route
add disabled=no distance=1 dst-address=0.0.0.0/1 gateway=10.2.0.1 pref-src="" routing-table=pvpn scope=30 suppress-hw-offload=no target-scope=10
add disabled=no distance=1 dst-address=128.0.0.0/1 gateway=10.2.0.1 pref-src="" routing-table=pvpn scope=30 suppress-hw-offload=no target-scope=10
add disabled=no dst-address=185.107.56.133/32 gateway=192.168.100.1 routing-table=pvpn suppress-hw-offload=no

/ip firewall nat
add action=masquerade chain=srcnat out-interface=wireguard-nl src-address=192.168.100.0/24
