# /etc/mysql/my.cnf: The global mysql configuration file.
# $Header: /var/cvsroot/gentoo-x86/dev-db/mysql/files/my.cnf-4.1,v 1.3 2006/05/05 19:51:40 chtekk Exp $

[client]
#password					= your_password
port						= 3306
socket						= /var/run/mysqld/mysqld.sock

[mysql]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[mysqladmin]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[mysqlcheck]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[mysqldump]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[mysqlimport]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[mysqlshow]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[myisamchk]
character-sets-dir=/usr/share/mysql/charsets

[myisampack]
character-sets-dir=/usr/share/mysql/charsets

[mysqld_safe]
err-log				= /var/log/mysql/mysql.err

[mysqld]
character-set-server		= utf8
default-character-set		= utf8
user 				= mysql
port 				= 3306
socket 				= /var/run/mysqld/mysqld.sock
pid-file 			= /var/run/mysqld/mysqld.pid
log-error 			= /var/log/mysql/mysqld.err
basedir 			= /usr
datadir 			= /var/lib/mysql
skip-locking

key_buffer                      = 32M
key_buffer_size			= 64M
max_allowed_packet              = 1M
table_cache                     = 1024
sort_buffer_size                = 512K
net_buffer_length               = 8K
read_buffer_size                = 256K
read_rnd_buffer_size            = 512K
myisam_sort_buffer_size         = 8M
join_buffer_size                = 4M
language                        = /usr/share/mysql/english

thread_concurrency 		= 4
thread_cache_size 		= 64

log_slow_queries		= /var/log/mysql/mysql.slow.queries.log
long_query_time 		= 10
log-queries-not-using-indexes

bind-address			= 127.0.0.1
log-bin				= mysql-bin
expire_logs_days		= 28
server-id 			= 1
tmpdir 				= /tmp/

query_cache_size		= 16M
query_cache_limit               = 2M
tmp_table_size 			= 256M
max_heap_table_size 		= 256M

skip-name-resolve

#log-update 				= /path-to-dedicated-directory/hostname
#log					= /tmp/mysqld.sql
#gdb
#debug					= d:t:i:o,/tmp/mysqld.trace
#one-thread
#bdb_cache_size				= 4M
#bdb_max_lock				= 10000

innodb_buffer_pool_size 		= 16M
innodb_additional_mem_pool_size 	= 2M
#innodb_data_home_dir           	= /var/lib/mysql/
#innodb_log_arch_dir            	= /var/lib/mysql/
#innodb_log_group_home_dir      	= /var/lib/mysql/
innodb_data_file_path 			= ibdata1:10M:autoextend:max:128M
innodb_log_file_size 			= 5M
innodb_log_buffer_size 			= 8M
set-variable = innodb_log_files_in_group=2
innodb_flush_log_at_trx_commit 		= 1
innodb_lock_wait_timeout 		= 50

[mysqldump]
quick
max_allowed_packet 			= 16M

[mysql]
#safe-updates

[isamchk]
key_buffer 				= 20M
sort_buffer_size 			= 20M
read_buffer 				= 2M
write_buffer 				= 2M

[myisamchk]
key_buffer 				= 20M
sort_buffer_size 			= 20M
read_buffer 				= 2M
write_buffer 				= 2M

[mysqlhotcopy]
interactive-timeout
